.mainpage {
  &-header {
    width: 100%;
    position: fixed;
    font-size: 1.2em;
    &-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 0.8vh;

      .login {
        padding: 2vh;
        cursor: pointer;
        display: flex;
        padding-left: 6vh;

        &-span {
          font-size: 2.5em;
          font-family: 'Muli', sans-serif;
        }
        &-img {
          width: 6vh;
          margin-left: 2vh;
          height: 10vh;
        }
      }
      .text-logo {
        display: flex;
        justify-content: center;
        &-span {
          font-size: 3.5em;
          font-weight: bold;
          font-family: 'Muli', sans-serif;
        }
        &-img {
          width: 17vh;
          height: 14vh;
        }
      }
      .cart-thumbnail {
        padding: 2vh;
        cursor: pointer;
        display: flex;
        margin-right: 6vh;
        &-span {
          font-size: 3em;
          font-family: 'Muli', sans-serif;
        }
        &-img {
          width: 8vh;
          margin-left: 2vh;
          height: 9vh;
        }
      }
    }
  }
}
